html,
body {
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr)
}

/* ----------------Css header styling---------------- */

.header {
    background: aquamarine;
    grid-column: 2 / end;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);

}

.topheader {
    grid-row: 0/1;
    grid-column: 1/end;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
}

.search {
    display: flex;
    grid-row: 0 /1;
    grid-column: 1 / 4;
    align-items: center;
    justify-content: start;
}

.userinfo {
    display: flex;
    grid-row: 0/ 1;
    grid-column: 5 / -1;
    justify-content: center;
    align-items: center;

}

.bottomheader {
    grid-row: 2/end;
    grid-column: 1 /end;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
}

.usergreeting {
    display: flex;
    grid-column: 1/4;
    justify-content: space-evenly;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 5/7;
}






/* ----------------Css sidebar styling---------------- */

.sidebar {
    background-color: blueviolet;
    grid-column: 1;
    grid-row: 1 / end;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.logo {
    align-self: center;
    justify-self: center;
}

.useritems {

    grid-row: 2/5;
    align-self: center;
    justify-self: center;

}

.usersettings {
    grid-row: 6 / -1;
    align-self: center;
    justify-self: center;
}




/* ----------------Css content styling---------------- */
.content {
    background-color: gray;
    grid-area: 2/ 2/ 6/ 6;
    display: grid;
    /* grid-template-rows: repeat(5, 1fr); */
    grid-template-columns: 3fr 1fr
}


.projects{
    grid-column: 1/2;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.project{
    height: 200px;
    width: 500px;
    background-color: white;
    align-self: center;
    justify-self: center;
}

.rightsidebar{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.anouncements{
    grid-row: 1/2;
}
.trending {
    grid-row: 2/3
}

.anouncements, .trending{
    height: 300px;
    width: 200px;
    background-color: white;
    justify-self: center;
    align-self: center;
}
