html,
body {
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr)
}

/* ----------------Css header styling---------------- */

.header {
    background: white;
    grid-column: 2 / end;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);

}

.topheader {
    grid-row: 0/1;
    grid-column: 1/end;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
}

.search {
    display: flex;
    grid-row: 0 /1;
    grid-column: 1 / 4;
    align-items: center;
    justify-content: start;
    padding-left: 2rem;
}
.search img {
    width: 30px;
    padding-right: 1rem;
}
.search input{
    width: 600px;
    height: 2rem;
    border-radius: 15px;
    background-color: #e2e8f0;
    border: none;
}

.userinfo {
    display: flex;
    grid-row: 0/ 1;
    grid-column: 5 / -1;
    justify-content: center;
    align-items: center;

}
.userinfo img:first-of-type{
    width: 30px;

}

.userinfo p {
    font-size: 1.3rem;
    font-weight: bold;
}

.userinfo > * {
    padding-left: 1.3rem;
}

.bottomheader {
    grid-row: 2/end;
    grid-column: 1 /end;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
}

.usergreeting {
    display: flex;
    grid-column: 1/4;
    align-items: center;
    padding-left: 2rem;
}

.usergreeting p {
    font-weight: bold;
}

.usergreeting>p>span{
    font-size: 2rem;
}

 .userinfo > img {
    border-radius: 100px;
    width: 50px;
}
.usergreeting > img{
    border-radius: 100px;
    width: 100px;
}

.nav {
    margin-right: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 5/7;
}

button {
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #1992d4;
    color: white;
    padding: .8rem 2.3rem;
    border-radius: 20px;
    border: none;
}





/* ----------------Css sidebar styling---------------- */

.sidebar {
    background-color: #1992d4;
    grid-column: 1;
    grid-row: 1 / end;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
}

.logo {
    align-self: center;
    justify-self: center;
}
.logo img {
    padding-right: 1rem;
    width: 40px;
}
.logo a {
    
    font-size: 2rem;
}

.useritems {

    grid-row: 2/5;
    /* align-self: center; */
    align-self: start;

}

.usersettings {
    grid-row: 5 / 6;
    align-content: start;
}

.useritems > ul >li {
    padding: 0;
}

.useritem > div{
    padding: .5rem 0;
    align-self: center;
}

.useritem > div > a > img{
    width: 1.5rem;
    padding-right: 1.3rem;
    
}


ul{
    list-style: none;
   align-self: start;
}

a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

/* ----------------Css content styling---------------- */
.content {
    background-color: #e2e8f0;
    grid-area: 2/ 2/ 6/ 6;
    display: grid;
    /* grid-template-rows: repeat(5, 1fr); */
    grid-template-columns: 3fr 1fr
}


.projects{
    grid-column: 1/2;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.project{
    height: 200px;
    width: 500px;
    background-color: white;
    align-self: center;
    justify-self: center;
}

.rightsidebar{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.anouncements{
    grid-row: 1/2;
}
.trending {
    grid-row: 2/3
}

.anouncements, .trending{
    height: 300px;
    width: 200px;
    background-color: white;
    justify-self: center;
    align-self: center;
}
