html,
body {
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr)
}

/* ----------------Css header styling---------------- */

.header {
    background: aquamarine;
    grid-column: 2 / end;

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);

}

.topheader {
    grid-row: 0/1;
    grid-column: 1/end;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
}

.search{
    display: flex;
    grid-row: 0 /1;
    grid-column: 1 / 4;
    align-items: center;
    justify-content: start;
}

.userinfo{
    display: flex;
    grid-row: 0/ 1;
    grid-column: 5 / -1;
    justify-content: center;
    align-items: center;
    
}

.bottomheader {
    grid-row: 2/end;
    grid-column: 1 /end;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(6, 1fr);
}

.usergreeting{
   display: flex;
    grid-column: 1/4;
    justify-content: space-evenly;
    align-items: center;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-column: 5/7;
}




/* ----------------Css header styling End---------------- */




/* ----------------Css sidebar styling---------------- */

.sidebar {
    background-color: blueviolet;
    grid-column: 1;
    grid-row: 1 / end;
}




/* ----------------Css sidebar styling End---------------- */


/* ----------------Css content styling---------------- */
.content {
    background-color: gray;
    grid-area: 2/ 2/ 6/ 6;
}



/* ----------------Css Content styling End---------------- */